<a href="https://colab.research.google.com/github/arsh-gupta-8/ML-Projects/blob/main/SocialMediaPosts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [5]:
posts_data = pd.read_csv('socialmediaposts.csv')
posts_data.describe()

,Unnamed: 0.1,Unnamed: 0,Retweets,Likes,Year,Month,Day,Hour
count,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000
mean,366.464481,369.740437,21.508197,42.901639,2020.471311,6.122951,15.497268,15.521858
std,211.513936,212.428936,7.061286,14.089848,2.802285,3.411763,8.474553,4.113414
min,0.000000,0.000000,5.000000,10.000000,2010.000000,1.000000,1.000000,0.000000
25%,183.750000,185.750000,17.750000,34.750000,2019.000000,3.000000,9.000000,13.000000
50%,366.500000,370.500000,22.000000,43.000000,2021.000000,6.000000,15.000000,16.000000
75%,549.250000,553.250000,25.000000,50.000000,2023.000000,9.000000,22.000000,19.000000
max,732.000000,736.000000,40.000000,80.000000,2023.000000,12.000000,31.000000,23.000000

In [6]:
posts_data.info

<bound method DataFrame.info of      Unnamed: 0.1  Unnamed: 0  \
0               0           0
1               1           1
2               2           2
3               3           3
4               4           4
..            ...         ...
727           728         732
728           729         733
729           730         734
730           731         735
731           732         736

                                                  Text    Sentiment  \
0     Enjoying a beautiful day at the park!        ...   Positive
1     Traffic was terrible this morning.           ...   Negative
2     Just finished an amazing workout! ðŸ’ª          ...   Positive
3     Excited about the upcoming weekend getaway!  ...   Positive
4     Trying out a new recipe for dinner tonight.  ...   Neutral
..                                                 ...          ...
727  Collaborating on a science project that receiv...       Happy
728  Attending a surprise birthday party organized ...       Happy
729  Successfully fundraising for a school charity ...       Happy
730  Participating in a multicultural festival, cel...       Happy
731  Organizing a virtual talent show during challe...       Happy

               Timestamp                                   User     Platform  \
0    2023-01-15 12:30:00                          User123          Twitter
1    2023-01-15 08:45:00                          CommuterX        Twitter
2    2023-01-15 15:45:00                          FitnessFan      Instagram
3    2023-01-15 18:20:00                          AdventureX       Facebook
4    2023-01-15 19:55:00                          ChefCook        Instagram
..                   ...                                    ...          ...
727  2017-08-18 18:20:00       ScienceProjectSuccessHighSchool     Facebook
728  2018-06-22 14:15:00            BirthdayPartyJoyHighSchool    Instagram
729  2019-04-05 17:30:00   CharityFundraisingTriumphHighSchool      Twitter
730  2020-02-29 20:45:00    MulticulturalFestivalJoyHighSchool     Facebook
731  2020-11-15 15:15:00    VirtualTalentShowSuccessHighSchool    Instagram

                                          Hashtags  Retweets  Likes  \
0        #Nature #Park                                  15.0   30.0
1        #Traffic #Morning                               5.0   10.0
2        #Fitness #Workout                              20.0   40.0
3        #Travel #Adventure                              8.0   15.0
4        #Cooking #Food                                 12.0   25.0
..                                             ...       ...    ...
727         #ScienceFairWinner #HighSchoolScience       20.0   39.0
728    #SurpriseCelebration #HighSchoolFriendship       25.0   48.0
729      #CommunityGiving #HighSchoolPhilanthropy       22.0   42.0
730         #CulturalCelebration #HighSchoolUnity       21.0   43.0
731   #VirtualEntertainment #HighSchoolPositivity       24.0   47.0

          Country  Year  Month  Day  Hour
0       USA        2023      1   15    12
1       Canada     2023      1   15     8
2     USA          2023      1   15    15
3       UK         2023      1   15    18
4      Australia   2023      1   15    19
..            ...   ...    ...  ...   ...
727            UK  2017      8   18    18
728           USA  2018      6   22    14
729        Canada  2019      4    5    17
730            UK  2020      2   29    20
731           USA  2020     11   15    15

[732 rows x 15 columns]>